@import "~bootstrap/scss/bootstrap";

body {
  background-color: silver;
}

.hide {
  display: none !important;
}

.movieCards {
  max-width: 327px;
  min-width: 238px;
}

.nav-item {
  cursor: pointer;
}